@media (max-width: 45rem) {
    /* Remove Transition in mobile */
    body {
        transition: 0s;
        grid-template-columns: 0 1fr;
    }

    body.show {
        grid-template-columns: 0 1fr !important;
    }

    nav {
        position: absolute;
        background-color: var(--azure);
        width: 250px;
        left: -100%;
        top: calc(4rem - 1.7rem);
        margin-block: 1.7rem;
        min-height: calc(100% - 4rem);
    }

    nav.show {
        left: 0;
    }

    nav.show .text {
        display: block !important;
    }

    main {
        grid-area: right;
        padding: 1.5rem;
    }
}
